*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --spacing-medium: 0.5rem;
    --spacing-regular: 1rem;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    margin: auto;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "current current"
    "hourly hourly"
    "fiveday fiveday"
    "feelslike humidity";
    gap: var(--spacing-regular);
}

.container,
.container > article {
    border: 1px solid;
    border-radius: var(--spacing-regular);
    padding: var(--spacing-regular);
}
#current-forecast{
    grid-area: current;
}

#hourly-forecast{
    grid-area: hourly;
}

#five-day-forecast{
    grid-area: fiveday;
}

#feels-like{
    grid-area: feelslike;
}

#humidity {
    grid-area: humidity;
}