*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    --spacing-medium: 0.5rem;
    --spacing-regular: 1rem;

    --font-small: 0.5rem;
    --font-regular: 1rem;
    --font-large: 2rem;
    --font-xl: 4rem;

    --font-semibold: 600;
}

h1, 
h2 {
    margin: 0;
}

p {
    margin: var(--spacing-medium);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    margin: var(--spacing-regular);
    background: radial-gradient( rgba(0,82,212,1) 0%, rgba(67,100,247,1) 75%, rgba(111,177,252,1) 120%);
    color: aliceblue;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "search search"
    "current current"
    "feelslike humidity"
    "hourly hourly"
    "fiveday fiveday";
    gap: var(--spacing-regular);
}

.container,
.container > article {
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: var(--spacing-regular);
    padding: var(--spacing-regular);
}

#search {
    grid-area: search;
    font-size: var(--font-large);
    border-radius: var(--spacing-regular);
    padding: var(--spacing-medium);
    background-color: aliceblue;
    /* opacity: 90%; */
}
#current-forecast{
    grid-area: current;
    text-align: center;
    height: 270px;;
}

#current-forecast .city {
    position: static;
}
#current-forecast .temp {
    font-size: var(--font-xl);
    position: relative;
    top: 15px;
}

#current-forecast .description {
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
    text-transform: capitalize;
    position: relative;
    top: -25px;
} 

#feels-like{
    grid-area: feelslike;
    text-align: center;
}

#humidity {
    grid-area: humidity;
    text-align: center;
}

.feels-like-temp,
.humidity-value {
    font-size: var(--font-large);
    margin-top: 20px;;
}

#hourly-forecast{
    grid-area: hourly;
    text-align: center;
}

#hourly-forecast .hourly-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(100px, 1fr);
    overflow-x: auto;
    gap: var(--spacing-medium)
}

#hourly-forecast .hourly-container .icon {
    height: 100px;
    width: 100px;
    object-fit: contain;
}
#hourly-forecast .hourly-container .hourly-temp {
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
}

#five-day-forecast{
    grid-area: fiveday;
    text-align: center;
}

#five-day-forecast .five-day-wise-forecast-container {
    display: grid;
    grid-auto-flow: row;

}

.five-day-forecast-container .day-wise-forecast {
    display: grid;
    grid-template: auto / repeat(4, 1fr);
    gap: var(--spacing-regular);
    place-items: center;
}

.five-day-forecast-container .day-wise-forecast .min-temp,
.five-day-forecast-container .day-wise-forecast .max-temp {
    font-size: var(--font-regular);
    font-weight: var(--font-semibold);
}

.five-day-forecast-container .day-wise-forecast .min-temp {
    opacity: 75%;
}

.five-day-forecast-container .day-wise-forecast .max-temp {
    justify-self: end;
}

.five-day-forecast-container .day-wise-forecast .icon {
    width: 75px;
    height: 75px;
}

.five-day-forecast-container .day-wise-forecast .day {
    text-transform: capitalize;
    justify-self: start;
} 


@media (width>=650px) {
   body {
        margin: 50px auto;
        background: radial-gradient(rgba(0,82,212,1) 0%, rgba(67,100,247,1) 70%, rgba(111,177,252,1) 180%);
    }
    .container{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas:
        "search search search search"
        "current current current current "
        "feelslike humidity fiveday fiveday"
        "hourly hourly fiveday fiveday";
    }
}
